body {
    padding-top: 15%;
}

.color {
    display: flex;
    position: relative;
    text-align: center;
    margin-left: 25%;
    padding: 25px;
    background-color: #212121;
    color: aquamarine;
    font-weight: bolder;
    font-size: 3rem;
    border-radius: 35px;
    width: 50%;
}

.button {
    margin-top: 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-left: 25%;
    padding: 25px;
    background-color: #212121;
    color: aquamarine;
    font-weight: bolder;
    font-size: 1.5rem;
    border-radius: 10px;
    width: 15%;
    height: 50px;
}