body {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #80f9db;
}

.container {
    padding: 50px;
    width: 100px;
    border-radius: 50px;
    border-radius: 18px;
    background: #80f9db;
    box-shadow: 19px 19px 38px #5bb19b, -19px -19px 38px #a5ffff;
}

.counter {
    font-size: 80px;
    margin: 0;
}

button {
    border-radius: 10px;
    margin: 5px;
    border: 0;
    background: linear-gradient(145deg, #89ffea, #73e0c5);
    box-shadow: 5px 3px 14px #5bb19b, -5px -3px 14px #a5ffff;
}