body {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #e2e4e7;
}

.container {
    padding: 50px;
    width: 100px;
    border-radius: 50px;
    border-radius: 18px;
    background: linear-gradient(145deg, #e0e5e4, #bcc1c0);
    box-shadow: 10px 10px 20px #949897, -10px -10px 20px #ffffff;
}

.counter {
    font-size: 80px;
    margin: 0;
}

button {
    border-radius: 10px;
    margin: 5px;
    border: 0;
    border-radius: 18px;
    background: #d1d6d5;
    box-shadow: 5px 5px 9px #949897, -5px -5px 9px #ffffff;
}